#!/bin/bash

git pull origin master


url=$(python -c "import json; print(json.load(open('vax_dataset_config.json', 'r'))['owid_cloud_table_post'])")
pbcopy < automations/source_table.html

python ../megafile.py
​
git add automations/*
git add ../../grapher/*
git add ../../../public/data/*
​
git commit -m 'Vaccination update'
​
git push
