.DS_Store
.env
.vscode
env/
venv/
__pycache__/
.ipynb_checkpoints/
tmp/
~$*.xls*
*.log
testing_dataset_config.json
scripts/scripts/testing/testing_data_config.json
scripts/scripts/vaccinations/vax_dataset_config.json
.Rhistory

# Local Netlify folder
.netlify

# temporal folder for rapid tests/debuggings
scripts/tmp
Icon[
]
*.egg-info
*.preliminary.csv
*.tmp.csv

# Vaccinations
scripts/scripts/vaccinations/*.ipynb
scripts/scripts/vaccinations/notebooks
scripts/scripts/vaccinations/automations
scripts/scripts/vaccinations/vax_update.sh
scripts/scripts/vaccinations/antall-personer-vaksiner.csv

