#!/bin/bash
set -e

# Git pull
git pull origin master
​
# Update source table on website
url=$(python -c "import json; print(json.load(open(test_dataset_config.json', 'r'))['owid_cloud_table_post'])")
pbcopy < source_table.html
open $url

# General data update (+mortality)
​python scripts/scripts/excessmortality.py
python scripts/scripts/megafile.py
​
# Git push
git add scripts/scripts/testing/automated_sheets/*
git add scripts/scripts/testing/automations/*
git add scripts/scripts/testing/grapher_annotations.txt
git add scripts/scripts/testing/source_table.html
git add scripts/grapher/*
git add public/data/*
git commit -m 'Data update'
​git push
