aiohttp==3.6.2
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
blessings==1.7
chardet==3.0.4
decorator==4.4.2
et-xmlfile==1.0.1
idna==2.10
inquirer==2.6.3
ipython==7.13.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.16.0
multidict==4.7.6
numpy==1.18.2
openpyxl==3.0.3
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-tool-kit==1.0.14
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.6.1
PyMySQL==0.9.3
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
pytz==2019.3
readchar==2.0.1
regex==2020.2.20
six==1.14.0
slack==0.0.2
slackclient==2.7.2
termcolor==1.1.0
traitlets==4.3.3
Unidecode==1.1.1
wcwidth==0.1.8
xlrd==1.2.0
yarl==1.4.2
